<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>PT. Virama Karya (Persero)</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="img/logovk.png" class=" mx-auto d-block" alt="...">
    </div>
    

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1 class="sitename">PT. Virama Karya (Persero)</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#hero" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Pendaftaran</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="img/gambar1.jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2></h2>
        <h2> <span class="typed" data-typed-items="PT. Virama Karya (Persero) Cab.Makassar"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></h2>
      </div>

    </section><!-- /Hero Section -->
    
    <!-- Resume Section -->
    <section id="resume" class="resume section">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pendaftaran Tenaga Ahli</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
      <h1>Pendaftaran Tenaga Ahli</h1>
      <form id="myForm" style="max-width: 700px; margin: auto; padding: 50px;">
        <div class="mb-3">
          <label for="nama">Nama:</label>
          <input type="text" id="nama" name="nama" required>
        </div>
        <div class="mb-3">
          <label for="pendidikan">Pendidikan:</label>
          <input type="text" id="pendidikan" name="pendidikan" required>
        </div>
        <div class="mb-3">
          <label for="tahun_ijazah">Tahun Ijazah:</label>
          <input type="text" id="tahun_ijazah" name="tahun_ijazah" required>
        </div>
        <div class="mb-3">
          <label for="usia">Usia:</label>
          <input type="text" id="usia" name="usia" required>
        </div>
        <div class="mb-3">
          <label for="no_telfon_aktif">No Telfon Aktif:</label>
          <input type="text" id="no_telfon_aktif" name="no_telfon_aktif" required>
        </div>
        <div class="mb-3">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="pengalaman_kerja">Pengalaman Kerja:</label>
          <p>Berapa tahun pengalaman kerja anda:</p>
          <input type="text" id="pengalaman_kerja" name="pengalaman_kerja" required>
        </div>
        <div class="mb-3">
          <label for="ska_skk">SKA/SKK:</label>
          <p>Contoh: SKK Manajemen Proyek, SKK Sumber Daya Air</p>
          <input type="text" id="ska_skk" name="ska_skk" required>
        </div>
        <div class="mb-3">
          <label for="masa_berlaku_ska_skk">Masa Berlaku SKA/SKK:</label>
          <input type="date" id="masa_berlaku_ska_skk" name="masa_berlaku_ska_skk" required>
        </div>
        <div class="mb-3">
          <label for="upload_ska_skk">Upload SKA/SKK:</label>
          <input type="file" id="upload_ska_skk" name="upload_ska_skk">
        </div>
        <div class="mb-3">
          <label for="sertifikat_pelatihan">Sertifikat Pelatihan:</label>
          <input type="file" id="sertifikat_pelatihan" name="sertifikat_pelatihan">
        </div>
        <div class="mb-3">
          <label for="upload_dokumen_cv">Upload Dokumen CV Lengkap:</label>
          <input type="file" id="upload_dokumen_cv" name="upload_dokumen_cv">
        </div>
        <div class="mb-3">
          <a class="btn btn-success" id="btnSubmit">Daftar</a>
        </div>
      </form>
    </body>
    </section><!-- /Resume Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Anda bisa menghubungi kami</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100" >

        <div class="row gy-4">

          <div class="col">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>Jl. Panakukang Mas Boulevard Blok Jascinth II/26, Makassar 90221.</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call Us</h3>
                  <p>(0411) 450758/ 448674</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Us</h3>
                  <p>Email: viramakarya_makassar@yahoo.co.id</p>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.676447570144!2d119.44152737411694!3d-5.155663452095911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dbee30179a6bfd5%3A0x1cb7d5dfe56377ba!2sPT.%20Virama%20Karya%20(Persero)%20Cab.Makassar!5e0!3m2!1sid!2sid!4v1725714026363!5m2!1sid!2sid" style="border:0; top: 0; left: 0; width: 100%; height: 300px;"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

         
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    $('#btnSubmit').on('click', function() {
            if($('#nama').val() == "" || $('#pendidikan').val() == "" || $('#tahun_ijazah').val() == "" || $('#usia').val() == "" || $('#no_telfon_aktif').val() == "" || $('#email').val() == "" || $('#pengalaman_kerja').val() == "" || $('#ska_skk').val() == "" || $('#masa_berlaku_ska_skk').val() == "" || $('#sertifikat').val() == "") {
                alert('Mohon lengkapi form');
            } else if (Object.keys(sertifikat).length === 0 || Object.keys(cv).length === 0 || Object.keys(ska_skk).length === 0) {
                alert('File tidak boleh kosong')
            } else {
                var formdata = $('#myForm').serializeArray()
                formdata.push({
                    name: 'sertifikat',
                    value: sertifikat
                })

                formdata.push({
                    name: 'cv',
                    value: cv
                })

                formdata.push({
                    name: 'ska_skk',
                    value: ska_skk
                })

                Swal.fire({
                    title: "Loading...",
                    html: "Data kamu sedang dikirim, mohon menunggu.",
                    allowOutsideClick: false, // Prevent closing by clicking outside the alert
                    didOpen: () => {
                        Swal.showLoading(); // Menampilkan animasi loading
                    }
                });

                fetch("https://script.google.com/macros/s/AKfycbypxWQ_dujtK2CHxS0ynrUDUkOvOKIjtTk6F1EXrwmgtr08c_TaZ9lbfPExREPE0-XV/exec",{
                    method:"POST",
                    body:JSON.stringify(formdata)
                })
                .then(r=>r.text())
                .then(data=> {
                  Swal.close();

                  if(data == "Berhasil upload") {
                    document.getElementById("myForm").reset()
                    Swal.fire({
                      position: 'center',
                      icon: 'success',
                      title: 'Data kamu berhasil dikirim!',
                      showConfirmButton: false,
                      timer: 1500
                    })
                  } else {
                    Swal.fire({
                      position: 'center',
                      icon: 'error',
                      title: 'Terjadi kesalahan saat mengirim data kamu, hubungi kami!',
                      showConfirmButton: false,
                      timer: 1500
                    })
                  }
                })
            }
        });

        var sertifikat ={},file, sertifikatReader = new FileReader();
        sertifikatReader.onloadend = function(e) {
            sertifikat.data = e.target.result
            sertifikat.name = file.name
            console.log(sertifikat)
        };
        $('#sertifikat_pelatihan').change(function(){
            file = $('#sertifikat_pelatihan')[0].files[0]
            sertifikatReader.readAsDataURL(file);
        })

        var cv ={},file2, cvReader = new FileReader();
        cvReader.onloadend = function(e) {
            cv.data = e.target.result
            cv.name = file2.name
            console.log(cv)
        };
        $('#upload_dokumen_cv').change(function(){
            file2 = $('#upload_dokumen_cv')[0].files[0]
            cvReader.readAsDataURL(file2);
        })

        var ska_skk ={},file3, ska_skkReader = new FileReader();
        ska_skkReader.onloadend = function(e) {
            ska_skk.data = e.target.result
            ska_skk.name = file3.name
            console.log(ska_skk)
        };
        $('#upload_ska_skk').change(function(){
            file3 = $('#upload_ska_skk')[0].files[0]
            ska_skkReader.readAsDataURL(file3);
        })
  </script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/typed.js/typed.umd.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>